@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    color: #fff;
    padding: 0;
    
}
body{
    background: #000;
}

.inter-font{
  font-family: "Inter", sans-serif;
}
/* Miama Google Font  */
@font-face {
    font-family: 'Miama Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Miama Regular'), url('google-font/Miama.woff') format('woff');
    }
/* Shared Style  */
.btn{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #e6533c;
    background: #e6533c;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background: none;
    border: 2px solid #e6533c;
}
section{
    width: 90%;
    margin: 80px 5%;
}
.section-title{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 14px;
    font-weight: 900;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size:1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Navbar Style Started  */
nav{
    justify-content: space-around;
    display: flex;
    height: 30%;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;
}
.menu-list ul{
    gap: 24px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 20px 12px 5px;
    border-radius: 40px;
}
.menu-list ul li{
    list-style-type: none;
}
.menu-list ul li a{
    font-size: 1.2rem;
   text-decoration: none;
}
.menu{
    display: none;
}
.active{
    border-radius: 46px;
    padding: 8px 20px;
    background: #e6533c;
}
.logo{
    color: #e6533c;
    font-size: 2.1rem;
    font-weight: 800;
}

/* header section styled  */
header{
    background: linear-gradient(180.00deg, #111111,#77777700 100%);
}
.header{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.header-content{
    width: 50%;

}
.header-content h3 .styliest-font{
    font-family: 'Miama Regular';
    font-weight: 400;
    font-size: 6rem;
}
.header-content h3{
    letter-spacing: 0%;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 18px;
    line-height: 79px;
}
.header-content p{
    color: #ffffff80;
    font-size: 1rem ;
    font-weight: 400;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
}
.btn-section {
    display: flex;
    gap: 20px;
}
.btn-section button:nth-child(2){
    background: none;
    border: 2px solid #fff;
    margin-right: 20px;
}
.btn-section button:nth-child(2):hover{
    background: #fff;
    color: #000;
    border: 2px solid #fff;
}

.header-img img{
    width: 100%;
}
.video {
    left: -60px;
    bottom: 25px;
}
.workout {
    top: 140px;
    right: 0px;
}
.header-img{
    position: relative;
}
.video-content h5{
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 10px;
}
.video-content p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.9rem;
}
.video , .workout{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    position: absolute;
    padding: 20px;
}
.icon i{
    background: rgb(230, 83, 60);
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    justify-content: space-evenly;
}

/* about us section style  */
.about{
    display: flex;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 100%;
}
.about-content {
    width: 40%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about-content .section-description{
    text-align: left;
}
.about-content h3{
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight: 900;
}
/* habit section style  */
.habit-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;

}
.habit-card img{
    width: 70%;
    border-radius: 50%;
    margin: 0 15%;
    border: 2px solid #2e2e2e;
}
.habit-card h4{
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}
.habit-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
}

/* run extra section style   */
.run-extra{
    display: flex;
    justify-content: space-around;
    border-radius: 18px;
    padding: 40px 54px;
    align-items: center;
    background: #222222;
}
.run-content{
    width: 40%;
}
.run-content h4{
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight: 900;
}
.run-content .section-description{
    text-align: left;
}
.run-img img{
    border-radius: 18px;
    width: 366px;
    height: 312px;
}

/* BMI section Styled  */
.bmi{
    margin: 0;
    width: 100%;
}
.bmi .bmi-heading {
    width: 48%;
    margin-left: 30%;
}
.bmi .bmi-heading h3{
    text-align: left;
}
.bmi .bmi-heading p{
    text-align: left;
}

.bmi .bmi-table table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 20px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    margin-top: 50px;
}
.bmi .bmi-table table, th, th{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.bmi-head{
    padding: 50px 5%;
    display: flex;
    justify-content: space-around;
    background: rgb(34, 34, 34);
}
.bmi-head .bmi-table{
    width: 50%;
}
.bmi-head .bmi-table table{
    width: 60%;
}
.bmi-head .bmi-form{
    width: 50%;
}
.bmi-title{
    font-size: 1.8rem;
    font-weight: 900;
}
.bmi-form .section-description{
    text-align: left;
    font-size: 0.9rem;
    margin: 18px 0 36px 0;
}

.bmi-filed, .bmi-option {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 10%;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    margin: 0px 8px 8px 0;
    
}

.bmi-option{
    width: 99%;
}
.bmi-cal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
::placeholder  {
    color: rgba(255, 255, 255, 0.6);
}

select.bmi-option{ 
    color: rgba(255, 255, 255, 0.6);
}

/* team section styled  */
.team-container{
    display: grid;
    gap: 40px;
    border-radius: 18px;
    padding: 20px;;
    background: #222222;
    grid-template-columns: repeat(3 , 1fr);
}
.team-container img{
    border-radius: 18px;
    width: 100%;    
    height: 275px;
}
.img-contain {
    position: relative;
}
.trainer-content {
    position: absolute;
    bottom: 25px;
    left: 17px;
}

/* Footer section styled */

footer{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 60px 0px 0 0px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-footer{
    width: 50%;
    padding-left: 100px;
}
.left-footer .logo{
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 15px;
}
.left-footer .section-description{
    text-align: left;
}
.right-footer{
    width: 50%;
    display: flex;
    padding-right: 100px;
    justify-content: space-evenly;
}
.right-footer ul h2{
    font-size: 1.8rem;
    font-weight: 700;
}
.right-footer ul li a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.right-footer ul li{
    font-weight: 400;
    padding-top: 20px;
}
.last-footer{
    padding: 40px 100px 10px 100px;
}

.last-footer h3{
    text-align: center;
    padding: 36px;
    font-weight: 400;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
}


/* Responsive Design  */
@media screen and (max-width: 576px) {
    .menu-list{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu i{
        font-size: 2rem;
    }
    .header , .about , .run-extra , .bmi-head , .footer , .right-footer{
        display: block;
    }
    .header-content ,.about-img , .about-content , .run-content , .bmi-head .bmi-table , .left-footer ,.right-footer , .bmi .bmi-heading{
        width: 90%;
        margin-left: 5%;
    }
    .left-footer{
        padding-left: 0;
    }
    .bmi-head .bmi-form {
        width: 103%;
        margin-left: 0%;
        padding-top: 22px;
    }
    .left-footer .logo {
        margin-bottom: 36px;
    }
    .right-footer {
        padding-right: 0;
    }
    .right-footer ul h2 {
        padding-top: 40px;
    }
    .bmi-head .bmi-table table {
        width: 100%;
    }
    .video {
        left: 47px;
        bottom: 180px;
    }
    .workout {
        top: 120px;
        right: 35px;
    }
    .video-content h5 {
        font-size: 2.1rem;
        margin-left: 10px;
    }
    .run-img img {
        margin-top: 20px;
    }
    .last-footer {
        padding: 40px 50px 10px 50px;
    }
    .habit-container, .team-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .header-content {
        margin-top: 100px;
    }
    .run-img img {
        width: 100%;
    }
    .bmi-filed, .bmi-option {
        padding: 18px 5%;
    }
    .run-extra {
        padding: 38px 12px;
    }
    .left-footer .logo {
        font-size: 3rem;
    }
    .last-footer h3 {
        text-align: center;
        padding: 30px 0;
    }    
    .btn {
        padding: 16px 24px 16px 24px;
    }
    .run-content .btn{
        width: 100%;
    }
    .header-content h3 {
        font-size: 4rem;
    }
    
}